.detail {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 25px;
  height: 500px;
  .detail-input {
    margin: 5px 0 15px 0;
  }
  .update-time {
    margin-top: auto;
  }
}